@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --nav-height: 5rem;
    --footer-height: 3rem;
    --main-padding: 0 4rem;
}
.body{
    background: linear-gradient(145deg, #5a074c, #781166, #f268d2);
    min-height: 100vh;
    color: white;
}
.home-wrapper{
    height: calc(100vh - var(--footer-height) - var(--nav-height));
    padding: var(--main-padding);
}
.navbar{
    height: var(--nav-height);
}
.footer{
    height: var(--footer-height);
}
.section{
    padding: var(--main-padding);
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
.footer > p{
    margin: 0;
    padding: 0;
}
.pc-nav, .footer{
    padding: var(--main-padding);
}
.form-container{
    width: 35vw;
    min-width: 400px;
}
.hero-image{
    box-shadow: 0 0 5px 1px rgba(20,20,20,0.4);
}
.stats {
    transition: 0.5s;
    min-width: 100px;
}
.stats.active{
    background-color: rgba(6, 188, 6, 0.59);
}
.stats.pending{
    background-color: rgba(255, 166, 0, 0.532);
}
.stats.deleted{
    background-color: rgba(255, 0, 0, 0.614);
}
.stats.canceled{
    background-color: rgba(0, 94, 255, 0.549);
}
.btns{
    height: 100%;
}
.button{
    white-space: nowrap;
    background-color: rgb(19, 162, 48);
    color: white;
    font-weight: 500;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(10,10,10,0.2);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.2rem;
    border: 1px solid white;
    transition: 0.4s;
}
.button:hover{
    color: green;
    background-color: white;
    transition: 0.4s;
}
.tab-container{
    max-width: 100%;
    overflow: auto;
}
.table{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.156);
}
.table table{
    width: 100%;
    /* overflow: auto; */
}
.table table thead th{
    padding: 0.6rem 1rem;
    white-space: nowrap;
}
.table table tbody td{
    text-align: center;
    padding: 1rem;
}
#icon{
    cursor: pointer;
}
.table table tbody td:nth-last-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.chip{
    color: white;
    background-color: gray;
    padding: 0.2rem 0.6rem;
    font-size: 0.85rem;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(10,10,10,0.2);
    cursor: pointer;
    font-weight: 500;
}
.chip.active{
    background-color: green;
}
.chip.canceled{
    background-color: rgb(0, 102, 255);
}
.chip.deleted{
    background-color: rgb(255, 0, 0);
}
#filter-icon{
    background-color: white;
    padding: 0.2rem;
    font-size: 1.9rem;
    border-radius: 50%;
    cursor: pointer;
}
.filter-menu{
    right: 0;
    background-color: white;
    color: black;
    top: 115%;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(10,10,10,0.2);
}
.filter-menu > ul > li {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 0.4rem;
}
.event-form{
    top:0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.modal.active{
    transform: translateY(-2rem);
    opacity: 1;
}
.modal.inactive{
    transform: translateY(2rem);
    opacity: 0;
    /* transition: 0.6s; */
}
.modal{
    transition: 0.6s;
    width: 450px;
    opacity: 0;
    pointer-events: all;
    color: black;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    /* color: white; */
    /* overflow: hidden; */
    box-shadow: 0 0 10px 2px rgba(10,10,10,0.2);
    background-color: rgba(255, 255, 255, 0.237);
}
.event-form .modal header{
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    backdrop-filter: blur(2px);
    color: rgb(70, 70, 70);
}
.event-form .modal header{
    padding: 1rem;
}
.event-form .modal form{
    padding: 2rem 1rem;
}
#asdasd{
    width: 100%;
    margin: 1rem 0;
    border: 2px solid white;
    padding: 1.2rem 0;
    background-color: white;
}
.date-ui{
    top: 115%;
    box-shadow: 0 0 10px 2px rgba(10,10,10,0.3);
    background-color: white;
    z-index: 10;
}
.select{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    border: 2px solid white;
    height: 2.6rem;
    padding-left: 0.7rem;
    background-color: white;
}
.select select{
    top: 20%;
    outline: none;
    border: none;
}
@media screen and (max-width: 550px) {
    .pc-nav, .footer, .home-wrapper, .section{
        padding: 0 2rem;
    }
    .form-container, .main{
        min-width: 100%;
    }
    .footer{
        font-size: 2.4vw;
    }
}